
  html {
    font-family: system-ui, "Segoe UI", "Open Sans";
    padding-inline: 5%;
    padding-block: 1%;
  }

  *:focus {
    outline: none;
  }

  h1 {
    font-size: 25px;
    color: #2e84f5;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .content-titles {    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
.title-columns {
  font-size: 20px;
  color: #003780;
}
  .add-task {
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    padding-block: 8px;
    padding-inline: 20px;
    max-width: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .icon-check {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .icon-list {
    width: 20px;
    margin-inline: 2px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /* Estilo para a lista */
  .task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    align-items: flex-start;
  }
  .task-list-finish {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    align-items: flex-start;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Estilo para os itens da lista */
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }

  /* Estilo para o título */
  .task-title {
    flex: 1;
    text-align: left;
    margin-left: 8px;
  }

  /* Estilo para os ícones */
  .task-icons {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  /* Ajuste dos ícones */
  .task-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

 @media(max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 0;
    }
    .grid-container {
    display: flex;
    flex-direction: column;
    }
 }

